#sec1 {
  width: 80%;
  padding: 10px;
}

h1 {
  color: black;
  font-size: 3em;
  margin: auto;
  max-width: 50%;
}

#register {
  margin: auto;
  top: 30%;
  position: relative;
}

#sec1 {
  z-index: 0;
  position: relative;
  top: 250px;
  width: 40%;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1em;
  }
}