#sec1 {
  width: 80%;
  padding: 10px;
}

h1 {
  color: black;
  font-size: 100px;
}

#register {
  margin: auto;
  top: 30%;
  position: relative;
}

#sec1 {
  z-index: 0;
  position: relative;
  top: 150px;
  width: 40%;
  text-align: center;
  margin: auto;
}