* {
  font-family: sans-serif;
}

body {
  background-color: #DDEFFC;
  margin: 0;
  padding: 0;
  height: 1000px;
  padding-top: 70px;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

#register {
  position: fixed;
  top: 70px;
  border: solid 2px #333;
  border-radius: 10px;
  padding: 1%;
  background-color: #3b6b8e;
  text-align: center;
  height: 100px;
  width: 200px;
  text-decoration: none;
  color: #f2f2f2;
  font-size: 40px;
  display: block;
}

/* navbar */

.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 400ms;
  background-color: #3b6b8e;
  background-image: linear-gradient(to right, rgb(0, 61, 91), rgb(0, 171, 229));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  border-bottom: solid 2px rgb(20, 63, 109);
  height: 300px;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 20px 36px;
  text-decoration: none;
  font-size: 18px;
  transition: 200ms;
}

.homeLogo {
  background-image: url('../Logo.png');
  background-position: center center;
  background-size: cover;
  height: 46.5px;
  width: 46.5px;
}

.active {
  font-weight: 700;
  border: 0;
  margin: auto;
}

.topnav .icon {
  display: none;
  height: 25px;
}

.topnav a:hover {
  color: rgba(0, 0, 0);
  background-color: #0095ff2f;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}